<%= form_with(model: progress_note, local: true) do |form| %>
  <% if progress_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress_note.errors.count, "error") %> prohibited this progress_note from being saved:</h2>

      <ul>
        <% progress_note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.rich_text_area :content %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
