<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'New Progress Note', new_progress_note_path, class: 'btn btn-dark btn-sm mb-3' %>
</div>

<h2 class='mb-4'>Progress Notes</h2>

<div class="row">
  <% @progress_notes.each do |progress_note| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header text-right">
          <strong><%= progress_note.created_at.strftime('%B %d, %Y') %></strong>
        </div>

        <div class="card-body pt-1">
          <%= progress_note.content %>
        </div>

        <div class="card-footer text-right">
          <%= link_to 'Edit', edit_progress_note_path(progress_note), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Destroy', progress_note, class: 'btn btn-danger btn-sm' ,method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
